{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="logo-font" style="color: white;">About Us</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'about_us' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="over"></div>
            <div class="col mt-5 text-center">
                <p class="card-text about-us">
                    We want to capture and deliver moments of happiness, surprise and wonder that sending and receiving flowers uniquely create.
                    We have been spreading smiles for many years and our mission is to always ensure how meaningful, special and memorable giving and receiving flowers is.
                    Let our flowers speak for you, no matter what the message is.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
{% endblock %}