<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plants-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="{% url 'products' %}?category=live_plants" class="dropdown-item">Live Plants</a>
                <a href="{% url 'products' %}?category=artificial_plants" class="dropdown-item">Artificial Plants</a>
                <a href="{% url 'products' %}?category=live_plants,artificial_plants" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=pots" class="dropdown-item">Pots</a>
                <a href="{% url 'products' %}?category=decorations" class="dropdown-item">Decorations</a>
                <a href="{% url 'products' %}?category=pots,decorations" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Ocassions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=valentines_day" class="dropdown-item">Valentines Day</a>
                <a href="{% url 'products' %}?category=wedding_bouquets" class="dropdown-item">Wedding Bouquets</a>
                <a href="{% url 'products' %}?category=christmas" class="dropdown-item">Christmas</a>
                <a href="{% url 'products' %}?category=valentines_day,wedding_bouquets,christmas" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog">
                <a href="{% url 'posts' %}?category=posts" class="dropdown-item">Posts</a>
                <a href="{% url 'about_us' %}?category=about_us" class="dropdown-item">About Us</a>
            </div>
        </li>
    </ul>
</div>